<h1>YouTube Lite</h1>
<p>Welcome to YouTube Lite, under construction.</p>
<p>Here is a sample video below:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bf2ASh5vS-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>